/*index*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    /* font-size: 12px; */
    font-size: 15px;
}

body {
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/*HEADER*/
#top{
    background-color: #FFB6C1;

    display: flex;
    justify-content: space-between;
    padding: 10px 0 20px 50px;
}

#top h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
}

#top i{
    width: 20px;
    font-size: 25px;
}

h1 {
    font-family: "Space Grotesk", sans-serif;
    color: rgb(73, 72, 72);
}

.title {
    text-decoration: none;
    font-size: 30px;
    color: rgb(73, 72, 72);
}

/*añadido*/
/*input*/
label #btn,
label #cancel {
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}
/*fin añadido*/

.menu {
    display: flex;
    gap: 10px;
    padding: 0;
    margin-right: 45px;
}

.menu-item{
    padding: 10px;
    list-style: none;
}

.menu-item img {
    height: 70px;
    margin-bottom: 5px;
}

.menu-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 13px;
}

.menu-item a:hover{
    color: white;
}

/*SECTIONS*/
.container-section{
    flex: 1;
    text-align: center;
    position: relative;
    background: linear-gradient(to bottom, #fff0f5, #ffe4e1, #f0fff0);
}

section img{
    width: 400px;
    height: 300px;
    border-radius: 10px;
}

/*--- que-es-section ---*/
.que-es-section {
    text-align: center;
    position: relative;
    padding: 70px 8%;
}

/* .que-es-section { prueba
    padding-top: 120px;
} */

/*añadido --- opcional*/
#typewriter::after {
    content: "|";
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*fin añadido*/

.que-es-section h2{
    font-size: 30px;
    padding: 0 0 50px 0;
}

.gift {
    width: 100%;
}

.que-es-paragraph {
    padding-top: 40px;
    line-height: 35px;
}

/*--- donde-section ---*/
.donde-section{
    padding: 20px 8%;
}

h3{
    padding: 40px 0;
    font-size: 25px;
}
.donde-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.donde-list{
    text-align: left;
    /* background-color: #f9d7ea; */
    background-color: #f9c9e4;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.donde-list li{
    list-style: none;
    line-height: 25px;
    margin: 17px 0;
}

/*--- para-que-section ---*/
.para-que-section {
    padding: 20px 8% 0 8%;
}

.box-cont-para-que{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.para-que-list {
    text-align: left;

    background-color: #ffcee9;
    padding: 0 20px; /*arreglarlo para responsive*/
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.box-cont-para-que li{
    list-style: none;
    line-height: 25px;
    margin: 17px 0;
}

/*Botones*/
.buttons{
    width: 100%;
    padding: 50px 0 30px 0;
}

.btn i{
    font-size: 30px;
    color: rgb(73, 72, 72);/*prueba cambiar color*/
}

.btn i:hover {
    transform: scale(1.2); 
}

.btn-right {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.btn-up{
    position: absolute;
    /* position: fixed; */
    bottom: 30px;
    right: 24px;

}
/*FOOTER*/
footer {
    background: linear-gradient(to right, #fff0f5, #fbcce7, #f9a7d4, #f679c3, #ff1493);
    background-size: cover;
    text-align: center;
}

footer p {
    margin-top: 10px;
}

footer p:first-child {
    padding-top: 20px;
}

.logo-fem-coders {
    height: 50px;
    margin-bottom: 20px;
}

/*--- RESPONSIVE ---*/
@media only screen and (max-width: 945px){/*768px, 607px para el .container-section*/
    
    #top {
        font-size: 55%;
        position: relative;
        z-index: 1;
    }
    
    label #btn {
        display: block;
    }
    
    .menu-item .menu-links {
        display: none;
    }
    
        /**/
    .menu {
        display: block;
            /* z-index: 9999; */
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        top: 100%;
        left: 0;
        display: none;
        text-align: center;
        transition: all .5s;
        /* z-index: 10; */
        z-index: 100;
    }
    
    .top .menu li {
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    .menu li a {
        font-size: 20px;
    }
    
    .menu-item {
        background: #fddbde;
    }
    
    .menu-item:hover {
        background-color: #dfcdce;
    }
    
    #check:checked~.menu {
        display: block;
    }
    
    label #cancel {
        display: none;
    }

    #check:checked~ul {
        width: 100%;
    }
    
    #check:checked~label #btn {
        display: none;
    }
    
    #check:checked~label #cancel {
        display: block;
    }
    
        /* #typewriter {
            z-index: 1;
            position: relative;
        } */
    
    .que-es-section {
        padding-top: 120px;
    }

    @media only screen and (max-width: 870px){/*870px*/
        /**/
        .donde-box {
            flex-wrap: wrap;/*cambiar*/
            flex-direction: column-reverse;
        }

        .donde-list {
            
        }
    }
}



/*FALTA .container-section RESPONSIVE
   - sections responsive 
      -> img responsive
      -> uls responsive flex-wrap (?)
      -> posible carrusel responsive (?)*/
/*FALTA QUE EL h2 #typewriter aparezca como antes*/
/*FALTA CARRUSEL IMG EN section donde y para*/



/*Añadir cursor flor(?)*/
/*Cambia color Nitrogeno titulo?*/
/*Todos los navs del mismo color?*/