body {
    background-color: #f4f9f4;
}

#top{
    background-color: #FF2AAA;
}

.flex-1 {
    flex: 1;
}

.headline {
    font-size: 44px;
    text-align: center;
    color: #FF2AAA;
}

.disc {
    align-items: center;
    text-align: center;
    margin: 20px;
}

.button-game {
    display: block;                  
    margin: 40px auto;               
    padding: 2.0em 3.2em;           
    background-color: #FF2AAA;
    border: 1px solid #000;
    border-radius: 8px;              
    font-family: 'Space Mono', monospace;
    font-size: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    color: black;
    width: fit-content;           
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.collapsible1, .collapsible2 {
    width: 600px; 
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    background-color: #FF2AAA;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    border: 1px solid #000;
    border-radius: 8px; 
}

.box-desc {
    display: flex;
    justify-content: space-around; 
    width: 100%;
    padding-top: 1px;
}

.button-game:hover {
    background-color: #ff50c8; /
    transform:scale(1.03);
    box-shadow: 0 0 12px rgba(255, 42, 170, 0.6); 
}


.content1{
    max-width: 600px;  
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 44px;
    text-align: start;
}

.content2 {
    max-width: 600px;  
    background-color: white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 44px;
    text-align: start;
}

.content1, .content2 {
    max-height: 0;
    padding-top: 4px;
    overflow: hidden;
    transition: max-height 0.5s ease-out, padding 0.5s ease;
    background-color: white;
    text-align: start;
}

.content1.active, .content2.active {
    max-height: 500px; 
    padding-top: 12px;
    padding-bottom: 12px;
}

.two-columns {
    display: flex;
    gap: 20px; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin: 20px;
}

.buttons {
    display: flex;
    justify-content: center; 
    gap: 20px;
    padding: 50px 0 30px 0;
    position: relative;
}

.btn-left, .btn-right {
    margin: 0;
}

.btn i{
    font-size: 30px;
}

.btn i:hover {
    transform: scale(1.2); 
}

.btn-up{
    position: absolute;
    bottom: 24px;
    right: 24px;

}
footer {
    background-image: url(../../public/comun/background-footer.png);
    background-size: cover;
    text-align: center;
}